body 
{
    font-size: 1.3rem;
    height: 100vh;
    width: 100vw;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to left bottom, rgb(255, 80, 80) 0%, rgb(80, 80, 255) 100%);
}
.formWrapper
{
    background: linear-gradient(to left bottom, rgb(110, 255, 20) 0%, rgb(246, 255, 75) 100%);
}
.selectCharacterCard
{
    background: linear-gradient(to right top, rgb(112, 255, 112) 0%, rgb(255, 166, 0) 100%);
}
.selectCharacterPanel
{
    background: linear-gradient(to top, white 0%, rgb(167, 167, 167) 100%);
    gap: 100px;
}
.selectCharacterPanel td 
{
    gap: 100px;
}
#goToGame
{
    background: linear-gradient(to left bottom, rgb(255, 134, 134) 0%, orange 100%);
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
}
.fightState h1
{
    margin: 0.5rem 0rem 0.5rem 0rem;
    text-align: center;
    letter-spacing: 0.5rem;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
}
#goToGameButton, #gameBoard a
{
    text-align: center;
    letter-spacing: 0.3rem;
    font-weight: bolder;
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    text-align: center;
}
#characterSpecificationDialog
{
    background: linear-gradient(to left bottom, rgb(255, 60, 60) 0%, rgb(255, 208, 0) 100%);
    height: 50vh;
    width: 50vw;
}
#characterSpecificationDialog button
{
    width: 100%;
    direction: none;
    background-color: white;
    padding: 0.2rem;
    font-weight: bold;
    letter-spacing: 0.5vw;
}
#characterName
{
    width: 100%;
    text-align: center;
    height: 5vh;
}
#characterSpecification
{
    margin: 0%;
    font-size: 1.75rem;
}
.characterStatsWrapper
{
    width: 21vw;
    margin-right: 2.5vw;
    display: flex;
    flex-direction: column;
}
.characterSpecificationWraper
{
    height: 24vh;
    width: 100%;
}
.newCharacterButton, .loginButton, .characterSpecificationWraper
{
    display: flex;
    justify-content: center;
}
.newCharacterButton
{
    background-color: rgb(123, 226, 255);
}
.loginButton
{
    background-color: chartreuse;
}
#gameBoard
{
    background: linear-gradient(to right top, orange 0%, rgb(255, 47, 47) 100%);
}
.fightState
{
    background: linear-gradient(to left bottom, rgb(32, 221, 255) 0%, rgb(0, 255, 64) 100%);
    text-align: center;
}
.fightState p
{
    margin: 0%;
}
#interface
{
    background-color: coral;
    border-radius: 15px 0px 0px 15px;
    padding: 15px;
    border: none;
    border-right: solid black 1px;
    box-shadow: 1px 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#whatInterface option
{
    text-align: center;
}
#mainScene
{
    background-color: skyblue;
    padding: 15px;
    border: none;
    box-shadow: 1px 1px 1px;
    width: 35vw;
}
#fightHistory
{
    background-color: plum;
    border-radius: 0px 15px 15px 0px;
    padding: 15px;
    border: none;
    border-left: solid black 1px;
    box-shadow: 1px 1px 1px;
    width: 20vw;
}
.board
{
    background: linear-gradient(to right bottom, rgb(166, 0, 255) 0%, rgb(255, 193, 47) 100%);
    display: flex;
    justify-content: center;
}
#goToGame, #gameBoard, #whatInterface, #characterSpecificationDialog, #characterSpecificationDialog button, .board, .fightState, .formWrapper, .selectCharacterCard, .selectCharacterPanel, .newCharacterButton, .loginButton
{
    padding: 15px;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 1px;
}
